$header-height: 32px;
$bgcolor01: #121212;
$bgcolor02: #535353;
$fgcolor01:#b3b3b3; 
$fgcolor02: #1db954;
$fgcolor03:  #ff5555;

//@import './Sakura.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $fgcolor02;
  background-color: $bgcolor01;
}


#root {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding: 0px;
  overflow: hidden;
}

.fill {
  width: 100%;
  height: 100%;
}

.placeholder {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.bull {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  text-align: center;
}


a {
  color: $fgcolor01;
  text-decoration: none;
}

a.active {
  font-weight: bold;
  color: $fgcolor02;
  text-decoration: none;
}

a.mmenu {
  margin: 5px;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  padding: 10px;
  overflow: hidden;
}

main.full {
  position: absolute;
  top: $header-height;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  overflow: hidden;
}

main.text {
  position: absolute;
  top: $header-height + 20px;
  left: 10px;
  right: 20px;
  bottom: 10px;
  padding: 0px;
  overflow: scroll;
}



