@import '../layouts/Base.scss';


#mainmenu a {
    margin: 5px;
    color: $fgcolor01;
    padding: 5px;
}

#mainmenu a.active {
    font-weight: bold;
    color: $fgcolor02;
    text-decoration: none;

}
